node_modules
out
dist
dist-ssr
release
# Vite 临时/测试构建产物
.vite-test
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# TypeScript incremental build cache
*.tsbuildinfo
